<div class="ui basic segment">
  <h2 class="ui dividing header">About Students Toolshed</h2>
  <h4 class="ui header">Inspiration</h4>
  <p>
    I would often have ideas for small, but useful apps and I would get very excited and motivated to start working on them. 
    However, more often then not, I would quickly lose that motivation once I realized just how much background work it would take just to get the app to even run. 
    There's a database and API to set up, authentication, hosting, etc. For how small the app was, it just didn't seem worth it. 
    Eventually, I came up with the idea to create a web app that was a collection of all these app ideas. 
    That way, I only had to do the background work once, and all the apps could tap into the same resources. 
  </p>
  <h4 class="ui header">Description</h4>
  <p>
    The outer container part of ST is refered to as Fractal (because of its app made of apps ception). 
    It is written in Ruby on Rails and provides the API and database structure, authentication, routing, and things like that. 
    Fractal doesn't have much going on in terms of a front-end, but more or less simply provides links to the homepages of its sub apps. These sub-apps are written in JavaScript and run on a single page. 
    They are self-contained, but still have access to global data, such as the users. This creates a very intuitive way to add new apps to ST as I get new ideas. 
    At the moment, there is only a single app, a Task Tracker to help organize your projects, although I do have a list of app ideas that I am hoping to add soon. 
  </p>
</div>
<div class="ui basic segment">
  <h2 class="ui dividing header">About the Creator</h2>
  <p>
    He is cool.
  </p>
</div>
<div class="ui basic segment">
  <h2 class="ui dividing header">App Versions</h2>
  <table class="ui striped table">
    <thead>
      <tr>
        <th>App</th>
        <th>Initial Release</th>
        <th>Last Release</th>
        <th>Current Version</th>
        <th>Release Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fractal</td>
        <td>Feb 20, 2019</td>
        <td>Mar XX, 2019</td>
        <td>1.1.0</td>
        <td><a href="https://github.com/mhogar/StudentsToolshed/wiki/Fractal-Release-Notes" target="_blank">view</td>
      </tr>
      <tr>
        <td>Task Tracker</td>
        <td>Feb 20, 2019</td>
        <td>Mar XX, 2019</td>
        <td>1.1.0</td>
        <td><a href="https://github.com/mhogar/StudentsToolshed/wiki/Task-Tracker-Release-Notes" target="_blank">view</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="ui basic segment">
  <h2 class="ui dividing header">Useful links</h2>
  <table class="ui very basic table">
    <tbody>
      <tr>
        <td>This App's Github Repo</td>
        <td><a href="https://github.com/mhogar/StudentsToolshed" target="_blank">github.com/mhogar/StudentsToolshed</a></td>
      </tr>
      <tr>
        <td>The Creator's Website</td>
        <td><a href="http://www.ryanstamp.com" target="_blank">www.ryanstamp.com</a></td>
      </tr>
    </tbody>
  </table>
</div>