<h1 class="ui center aligned header">
	Welcome to Fractal!
	<div class="sub header">
		<br />
		A fractal is a shape that is composed of smaller shapes. This is a web applicaiton that is composed of smaller web applications.
	</div>
</h1>
<br />
<div class="ui four cards">
	<a class="ui yellow card" href="<%= task_tracker_path %>">
		<div class="content app-header">
			<div class="ui white inverted header">
				<i class="icon tasks yellow"></i>
      			<div class="content">Task Tracker</div>
			</div>
		</div>
		<div class="content">
			<div class="description">
				Create projects, stories, and tasks to help organize and guide your thoughts in this easy to use task management app.
			</div>
		</div>
		<div class="extra content">
			<div class="ui middle aligned list">
				<div class="item">
					Added Feb 20, 2019
					<div class="right floated content">v1.0.0</div>
				</div>
			</div>
		</div>
	</a>
	<div class="ui card">
		<div class="content">
			<div class="description">
				More apps are planned. Look foward to Course Scheduler, Grade Calculator, and Credit Tracker!
			</div>
		</div>
	</div>
</div>