<div id="app-selector" class="ui sidebar inverted large vertical menu">
  <div class="item">
    <div class="ui huge inverted center aligned header">Select an App</div>
  </div>
  <a class="item" href="<%= task_tracker_path %>">
    <div class="ui medium inverted header">
      <i class="icon tasks yellow"></i>
      <div class="content">Task Tracker</div>
    </div>
  </a>
  <div class="item">
    <div class="ui tiny inverted sub header">More apps are planned</div>
  </div>
</div>